asgiref==3.8.1
Authlib==1.0.1
black==24.8.0
dj-database-url==2.2.0
Django==4.2
django-auth0==0.0.3
django-google-sso==3.3.0
django-heroku==0.3.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.7
psycopg2==2.9.9
sqlparse==0.5.1
whitenoise==6.7.0

# Development tools
isort==5.10.1
flake8==3.9.2
yapf==0.31.0
autopep8==1.5.7
loguru==0.7.2

# API and security-related packages
requests==2.32.3
requests-oauthlib==2.0.0
oauthlib==3.2.2
cryptography==39.0.1

# Utilities
cachetools==5.5.0
urllib3==2.2.2
attrs==21.2.0
charset-normalizer==3.3.2
