# Virtual environment (if applicable)
venv/

# Environment variables
.env

# Django
db.sqlite3
__pycache__/
*.pyc

# Backup files
*.bak

# PyCharm
.idea/

# Python Packaging
*.egg-info/
dist/
build/

# VSCode
.vscode/